// media min-width
$mediaMinXsmal: "(min-width: 400px)";
$mediaMinSmall: "(min-width: 768px)";
$mediaMinMedium: "(min-width: 992px)";
$mediaMinLarge: "(min-width: 1200px)";
$mediaMinXlarge: "(min-width: 1400px)";

// media max-width
$mediaMaxSmall: "(max-width: 991px)";
$mediaMaxMedium: "(max-width: 1199px)";
$mediaMaxLarge: "(max-width: 1399px)";