$clr-main-darkest: #121212;
$clr-main-dark: #222;
$clr-bg: #424242;
$clr-task: #181818;
$clr-task-hover: #2C2C2C;
$clr-light: #424242;
$clr-main-lightest: #4b4b4b;
$clr-main-text: #c4c4c4;
$clr-text-light: rgba(209, 209, 223, 0.7);
$clr-gradient-yellow: #ff9001;
$clr-gradient-red: #8b0000;
$clr-list-all: #1ed760;
$clr-list-inProgress: #ff4200;
$clr-list-completed: #0d72ea;
$clr-list-favourite: #ff9001;
$clr-list-trash: #af2626;
$clr-list-hover: rgb(54, 54, 54);
$clr-btn-reset-clear: #7f1d1d;

$clr-main-shadow: #00000059;
$clrHeaderShadow: rgb(0 0 0 / 20%);
$clrDarkShadow: rgba(0 0 0 / 0.2);