$clrGradLight: #595976;
$clrGradDark: #3B3B48;
$clrContainer: rgba(255, 255, 255, 0.1);
$clrContainer: rgba(255, 255, 255, 0.6);
$clrMainDark: #2A2A38;
$clrMainLight: #3B3B48;
$clrMainLight: #313138;
$clrSroll: rgba(209, 209, 209, 0.194);
$clrText: #D1D1DF;
$clrText: #a7a7a7;
$clrTextLight: rgba(209, 209, 223, 0.7);
$clrHeader: rgba(209, 209, 209, 0.194);
$clrHeader: rgba(209, 209, 209, 0.65);

$clrLight: #dadada;
$clrLightIcon: #6b6b6b;
$clrLightBg: #ededed;

$clrYellow: #F9D879;
$clrYellowBg: #FFA726;
$clrYellowBg: #ffa42b;
$clrGreen: #69C07B;
$clrGreen: #1ed760;
$clrPurple: #515091;
$clrBlack2: #282836;
$clrBlack: #333;
$clrRed: #D64942;
// $clrRed: #e91429;
$clrRed2: #ED603E;
// $clrRed2: #e91429;
$clrRedBlood: #af2626;
// $clrRedBlood: #e91429;
$clrRedBloodDark: #621010;
// $clrRedBloodDark: #e91429;
$clrRedBloodDark8b: #8b0000;
// $clrRedBloodDark8b: #e91429;
$clrBlue: #1E89E3;
$clrBlue: #0d72ea;
$clrOrange: rgb(224, 75, 0);

$clrNewTaskWindow: #373748;

$clrElipsisIconBg: rgba(209, 209, 209, 0.123);

$clrContainerShadow: rgb(42 42 56 / 50%);
$clrHeaderShadow: rgb(0 0 0 / 20%);
$clrMainNavShadow: rgb(42 42 56 / 80%);
$clrOptionsShadow: hsl(240, 18%, 20%);
$clrDarkShadow: rgba(0, 0, 0, 0.2);
