//////////////////////////////////////////////////////////////////////////
//////////////////////// (*) table of content ////////////////////////////
//////////////////////////////////////////////////////////////////////////
////////(1) media queries:
////////////(a) media-up 
////////////(b) media-down 
////////(2) overlay
////////(3) prefixer
////////(4) animation
////////(5) grid
//////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////////////////
// (1) media queries /////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////

$media-up: (
    xs: "(min-width: 400px)",
    sm: "(min-width: 768px)",
    md: "(min-width: 992px)",
    lg: "(min-width: 1200px)",
    xl: "(min-width: 1400px)"
);

$media-down: (
    mb: "(max-width: 767px)",
    sm: "(max-width: 991px)",
    md: "(max-width: 1199px)",
    lg: "(max-width: 1399px)"
);

@mixin media-up($breakpoint) {
    @each $breakpoints, $size in $media-up{
        @if $breakpoint==$breakpoints {
            @media screen and #{$size} {
                @content;
            }
        }
    }
}

@mixin media-down($breakpoint) {
    @each $breakpoints, $size in $media-down {
        @if $breakpoint==$breakpoints {
            @media screen and #{$size} {
                @content;
            }
        }
    }
}

//////////////////////////////////////////////////////////////////////////
// (2) overlay ///////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
@mixin overlay($color: #000, $alpha: .5) {
    & {
        position: relative;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color, $alpha);
    }
}

//////////////////////////////////////////////////////////////////////////
// (3) prefixer //////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
@mixin prefixer($prop, $value, $prefixes: ()) {
    @each $prefix in $prefixes {
        #{'-' + $prefix + '-' + $prop}: $value;
    }
    #{$prop}: $value;
}

//////////////////////////////////////////////////////////////////////////
// (4) animation /////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
@mixin animation($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
} 

//////////////////////////////////////////////////////////////////////////
// (5) grid //////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
@mixin grid($width) {
    .grid-#{$width} {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(#{$width}px, 1fr));
    }
}