@font-face {
  font-family: "GolosTextWebRegular";
  src: url("./../webfonts/Golos-Text_Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GolosTextWebMedium";
  src: url("./../webfonts/Golos-Text_Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GolosTextWebDemiBold";
  src: url("./../webfonts/Golos-Text_DemiBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GolosTextWebBold";
  src: url("./../webfonts/Golos-Text_Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GolosTextWebBlack";
  src: url("./../webfonts/Golos-Text_Black.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
/*-------------------------------------------------------------------*/
/*--global rules-----------------------------------------------------*/
/*-------------------------------------------------------------------*/
*,
*::before,
*::after {
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
  color: #D1D1DF;
  font-family: "GolosTextWebRegular";
  margin: 0;
  padding: 0;
  position: relative;
  height: 100vh;
}
body::before, body::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  z-index: -1;
}
body::after {
  height: 95%;
  width: 200%;
  top: -50%;
  left: -50%;
  background-color: #333;
  background: linear-gradient(135deg, #595976 0%, #3B3B48 59%);
  border-radius: 50%;
}
body::before {
  height: 100%;
  bottom: 0;
  background-color: #E0E0E0;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 30px;
  margin: auto;
  transition: width 0.3s ease-in-out;
  border-radius: 10px;
  height: min(90vh, 700px);
  box-shadow: 1px 1px 5px 1px rgba(42, 42, 56, 0.5);
  background: linear-gradient(135deg, #595976 0%, #3B3B48 59%);
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
    width: 80%;
  }
}
@media screen and (max-width: 767px) {
  .container {
    flex-direction: column;
    gap: 0px;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    border-radius: 0 0 0 0;
    position: relative;
    overflow: hidden;
  }
}

/*-------------------------------------------------------------------*/
/*--buttons----------------------------------------------------------*/
/*-------------------------------------------------------------------*/
nav .nav-block > div {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: #3B3B48;
  padding: 10px 20px;
  border-radius: 10px;
  width: 100%;
  text-transform: capitalize;
  font-size: 14px;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out, padding 0.1s ease-in-out, transform 0.1s ease-in-out, -webkit-text-decoration 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out, padding 0.1s ease-in-out, transform 0.1s ease-in-out, text-decoration 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out, padding 0.1s ease-in-out, transform 0.1s ease-in-out, text-decoration 0.1s ease-in-out, -webkit-text-decoration 0.1s ease-in-out;
  cursor: pointer;
  transform: scale(1);
}
nav .nav-block > div:not(.search):hover {
  transform: scale(0.98);
}
@media screen and (max-width: 767px) {
  nav .nav-block > div:not(.search):hover {
    transform: scale(1);
  }
}
nav .nav-block > div.search {
  background-color: #D1D1DF;
}
nav .nav-block > div.search i {
  color: #515091;
  transition: color 0.2s ease-in-out;
}
nav .nav-block > div.search input {
  padding: 5px;
  width: 90%;
  background: none;
  border: none;
  outline: none;
}
nav .nav-block > div.search input::-webkit-input-placeholder {
  color: #333;
  font-weight: bold;
  text-transform: capitalize;
}
nav .nav-block > div.search input:-webkit-autofill, nav .nav-block > div.search input:-webkit-autofill:hover, nav .nav-block > div.search input:-webkit-autofill:focus, nav .nav-block > div.search input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px #D1D1DF inset !important;
}
nav .nav-block > div.clear {
  margin-bottom: 20px;
  border: 3px solid #af2626;
}
nav .nav-block > div.clear i {
  color: #D1D1DF;
  transition: color 0.2s ease-in-out;
}
nav .nav-block > div.clear h3 {
  text-transform: uppercase;
}
nav .nav-block > div.clear:hover, nav .nav-block > div.clear.active {
  transform: scale(1);
  background-color: #af2626;
}
nav .nav-block > div.clear:hover i, nav .nav-block > div.clear.active i {
  color: #D1D1DF;
}
nav .nav-block > div.all i {
  color: #69C07B;
  transition: color 0.2s ease-in-out;
}
nav .nav-block > div.all:hover, nav .nav-block > div.all.active {
  background-color: #69C07B;
  color: #333;
}
nav .nav-block > div.all:hover i, nav .nav-block > div.all.active i {
  color: #333;
}
nav .nav-block > div.completed i {
  color: #1E89E3;
  transition: color 0.2s ease-in-out;
}
nav .nav-block > div.completed:hover, nav .nav-block > div.completed.active {
  background-color: #1E89E3;
}
nav .nav-block > div.completed:hover i, nav .nav-block > div.completed.active i {
  color: #D1D1DF;
}
nav .nav-block > div.important i {
  color: #F9D879;
  transition: color 0.2s ease-in-out;
}
nav .nav-block > div.important:hover, nav .nav-block > div.important.active {
  background-color: #F9D879;
  color: #333;
}
nav .nav-block > div.important:hover i, nav .nav-block > div.important.active i {
  color: #333;
}
nav .nav-block > div.deleted i {
  color: #ED603E;
  transition: color 0.2s ease-in-out;
}
nav .nav-block > div.deleted h3 {
  text-decoration: line-through;
}
nav .nav-block > div.deleted:hover, nav .nav-block > div.deleted.active {
  background-color: #ED603E;
}
nav .nav-block > div.deleted:hover i, nav .nav-block > div.deleted.active i {
  color: #D1D1DF;
}
nav .nav-block > div.deleted:hover h3, nav .nav-block > div.deleted.active h3 {
  text-decoration: none;
}

main button.new-task {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  z-index: 300;
  transform: translateX(-50%);
  border-radius: 50%;
  border: none;
  outline: none;
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.24);
  transition: transform 0.2s ease-in-out, bottom 0.3s ease-in-out, left 0.3s ease-in-out, background-color 0.3s ease-in-out;
  cursor: pointer;
  background-color: #dadada;
}
main button.new-task i {
  font-size: 30px;
  color: #313138;
}
main button.new-task:hover {
  transform: translateX(-50%) scale(1.1);
  background-color: #ededed;
}
@media screen and (max-width: 767px) {
  main button.new-task:hover {
    transform: translateX(-50%) scale(1);
  }
}
@media screen and (max-width: 767px) {
  main button.new-task {
    bottom: 30px;
    left: 60px;
  }
}

/*-------------------------------------------------------------------*/
/*--app main header--------------------------------------------------*/
/*-------------------------------------------------------------------*/
header {
  color: #D1D1DF;
  width: 100%;
  margin-bottom: 15px;
  background-color: #313138;
  border-radius: 10px;
  padding: 15px 20px;
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 1000;
  cursor: default;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}
header h1 {
  margin: 0;
  text-transform: uppercase;
  font-weight: normal;
  font-family: "GolosTextWebBlack";
}

/*-------------------------------------------------------------------*/
/*--main-------------------------------------------------------------*/
/*-------------------------------------------------------------------*/
main {
  position: relative;
  height: 100%;
  border-radius: 10px;
  padding: 20px;
  background-color: #2A2A38;
  box-shadow: 1px 1px 5px 1px rgba(42, 42, 56, 0.8);
  flex-basis: 65%;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  main {
    flex-basis: 100%;
    border-radius: 0 0 0 0;
    box-shadow: 0 0 0 0;
    padding: 0px;
  }
}
main header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  height: 67px;
  border: 3px solid transparent;
  border-radius: 10px;
  background-image: linear-gradient(#313138, #313138), linear-gradient(90deg, #D64942 0%, #FFA726 70%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
@media screen and (max-width: 767px) {
  main header {
    border-radius: 0 0 0 0;
    min-height: 80px;
    max-height: 200px;
    border-right: none;
    border-left: none;
    border-top: none;
  }
}
main header > i {
  font-size: 25px;
  visibility: hidden;
}
@media screen and (max-width: 767px) {
  main header > i {
    display: flex !important;
    visibility: visible;
    width: 38px;
    height: 38px;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
    color: #D1D1DF;
    transform: scale(1);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.1s ease-in-out;
  }
  main header > i:hover {
    background-color: rgba(209, 209, 209, 0.123);
  }
}
main header .title {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media screen and (max-width: 767px) {
  main header .title {
    margin-left: 10px;
  }
}
main header .title i {
  font-size: 30px;
  padding-left: 20px;
  background: linear-gradient(270deg, #D64942 0%, #FFA726 70%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
main .tasks-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: calc(100% - 80px);
  width: 100%;
  overflow-y: auto;
  padding-right: 10px;
  padding-bottom: 80px;
  border-radius: 10px;
}
@media screen and (max-width: 767px) {
  main .tasks-block {
    padding: 20px 20px 110px;
  }
}
main .tasks-block::-webkit-scrollbar {
  width: 20px;
}
main .tasks-block::-webkit-scrollbar-thumb {
  background-color: rgba(209, 209, 209, 0.194);
  border: 6px solid transparent;
  border-radius: 10px;
  background-clip: padding-box;
}
main .tasks-block .task {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  max-width: 500px;
  background-color: #3B3B48;
  border-radius: 8px;
  position: relative;
}
main .tasks-block .task .content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
main .tasks-block .task .content i {
  cursor: pointer;
  font-size: 20px;
}
main .tasks-block .task .content i.fa-ellipsis-vertical {
  padding: 0 5px;
}
main .tasks-block .task .content p {
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
main .tasks-block .task .date {
  padding-left: 31px;
  font-size: 10px;
  text-transform: capitalize;
  color: rgba(209, 209, 223, 0.4);
}
main .tasks-block .task .options {
  position: absolute;
  right: 30px;
  top: 20px;
  z-index: 100;
  flex-direction: column;
  background-color: #ededed;
  border-radius: 10px;
  color: #333;
  overflow: hidden;
  box-shadow: 1px 1px 8px 1px rgb(39, 39, 58);
  pointer-events: none;
  opacity: 0;
  transform: scale(0.1);
  transform-origin: top right;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
main .tasks-block .task .options.active {
  opacity: 1;
  pointer-events: all;
  right: 30px;
  transform: scale(1);
}
main .tasks-block .task .options > div {
  display: flex;
  gap: 10px;
  padding: 13px 20px;
  cursor: pointer;
  background-color: #FFF;
}
main .tasks-block .task .options > div:hover {
  background-color: #ededed;
}
main .tasks-block .task .options > div i {
  color: #6b6b6b;
  width: 20px;
}
main .tasks-block .task .options > div p {
  font-weight: bold;
  text-transform: capitalize;
}
main .tasks-block .task .options .delete i {
  font-family: "FontAwesome";
  font-weight: 400;
}
main .new-task-window {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 200;
  height: 50%;
  min-height: 180px;
  max-height: 200px;
  width: 60%;
  min-width: 250px;
  max-width: 280px;
  transform: translate(-50%, 0%) scale(0.1);
  transform-origin: center bottom;
  background-color: #313138;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform-style: preserve-3d;
  transition: transform 0.5s ease-in-out 0.1s, bottom 0.3s ease-in-out, left 0.3s ease-in-out, opacity 0.5s ease-in-out;
}
main .new-task-window::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 500%;
  height: 1000%;
  background-color: rgba(49, 49, 56, 0.95);
  z-index: 199;
  transform: translate3d(-50%, -50%, -1px);
}
main .new-task-window.active {
  transform: translate(-50%, -50%) scale(1);
  bottom: 20px;
  opacity: 1;
}
@media screen and (max-width: 767px) {
  main .new-task-window {
    bottom: -41px;
    left: 60px;
    opacity: 0;
    transform-origin: center;
  }
  main .new-task-window.active {
    transform: translate(-50%, -50%) scale(1);
    bottom: 30%;
    left: 50%;
    opacity: 1;
  }
}
main .new-task-window input,
main .new-task-window .icons {
  width: 70%;
}
main .new-task-window input {
  height: 60px;
  outline: none;
  background: none;
  caret-color: #595976;
  border: 3px solid #515091;
  padding: 10px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
  color: #D1D1DF;
}
main .new-task-window input:focus {
  background: none;
}
main .new-task-window .icons {
  display: flex;
  justify-content: space-between;
}
main .new-task-window .icons i {
  width: 45%;
  position: relative;
  font-size: 15px;
  display: block;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
  transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out, border 0.1s ease-in-out;
  color: rgba(209, 209, 223, 0.7);
}
@media screen and (max-width: 767px) {
  main .new-task-window .icons i {
    font-size: 12px;
  }
}
main .new-task-window .icons i.fa-star {
  background: none;
  border: 2px solid #F9D879;
}
main .new-task-window .icons i.fa-star:hover, main .new-task-window .icons i.fa-star.active {
  background-color: #f9d879;
  color: #333;
}
main .new-task-window .icons i.fa-plus {
  background: none;
  border: 2px solid #1E89E3;
}
main .new-task-window .icons i.fa-plus:hover, main .new-task-window .icons i.fa-plus.active {
  background-color: #1e89e3;
}

/*-------------------------------------------------------------------*/
/*--nav--------------------------------------------------------------*/
/*-------------------------------------------------------------------*/
nav {
  color: rgba(209, 209, 223, 0.7);
  height: 100%;
  min-width: 230px;
  border-radius: 10px;
  padding: 20px;
  background-color: #2A2A38;
  box-shadow: 1px 1px 5px 1px rgba(42, 42, 56, 0.8);
  flex-basis: 35%;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  nav {
    order: 1;
    position: absolute;
    right: 0;
    top: 115px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 200;
    width: 40%;
    height: calc(100% - 150px);
    background-color: #313138;
  }
  nav.active {
    transform: translateX(-20px);
  }
}
nav header {
  background-color: #FFA726;
  background: linear-gradient(135deg, #D64942 0%, #FFA726 70%);
  color: #333;
}
nav header h1 {
  font-family: "GolosTextWebBlack";
  text-align: center;
  letter-spacing: -2px;
  word-spacing: -1px;
}
nav .nav-block {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - 80px);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
}
nav .nav-block::-webkit-scrollbar {
  width: 20px;
}
nav .nav-block::-webkit-scrollbar-thumb {
  background-color: rgba(209, 209, 209, 0.194);
  border: 6px solid transparent;
  border-radius: 10px;
  background-clip: padding-box;
}/*# sourceMappingURL=main.css.map */