/*-------------------------------------------------------------------*/
/*--font faces-------------------------------------------------------*/
/*-------------------------------------------------------------------*/
@font-face {
  font-family: "GolosTextWebRegular";
  src: url("./../webfonts/Golos-Text_Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GolosTextWebMedium";
  src: url("./../webfonts/Golos-Text_Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GolosTextWebDemiBold";
  src: url("./../webfonts/Golos-Text_DemiBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GolosTextWebBold";
  src: url("./../webfonts/Golos-Text_Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GolosTextWebBlack";
  src: url("./../webfonts/Golos-Text_Black.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
/*-------------------------------------------------------------------*/
/*--buttons----------------------------------------------------------*/
/*-------------------------------------------------------------------*/
@-webkit-keyframes eat-menu {
  from {
    transform: translateX(-50%) scale(1);
  }
  to {
    transform: translateX(-50%) scale(1.5);
  }
}
@keyframes eat-menu {
  from {
    transform: translateX(-50%) scale(1);
  }
  to {
    transform: translateX(-50%) scale(1.5);
  }
}
/*-------------------------------------------------------------------*/
/*--global rules-----------------------------------------------------*/
/*-------------------------------------------------------------------*/
*,
*::before,
*::after {
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background: none;
}

::selection {
  background: none;
}

input::-moz-selection {
  background-color: #F9D879;
  color: #282836;
}

input::selection {
  background-color: #F9D879;
  color: #282836;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
  color: #D1D1DF;
  font-family: "GolosTextWebRegular";
  margin: 0;
  padding: 0;
  position: relative;
  height: 100vh;
}
body::before, body::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  z-index: -1;
}
body::after {
  height: 95%;
  width: 200%;
  top: -50%;
  left: -50%;
  background-color: #333;
  background: linear-gradient(135deg, #595976 0%, #3B3B48 59%);
  background: linear-gradient(85deg, #595976 0%, #3B3B48 59%);
  background: linear-gradient(85deg, #666 0%, #333 59%);
  border-radius: 50%;
}
body::before {
  height: 100%;
  bottom: 0;
  background-color: #E0E0E0;
  background-color: #E1D9D1;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 30px;
  margin: auto;
  transition: width 0.3s ease-in-out;
  border-radius: 10px;
  height: min(90vh, 700px);
  box-shadow: 1px 1px 5px 1px rgba(42, 42, 56, 0.5);
  background-color: rgba(153, 153, 194, 0.3);
  background-color: rgba(255, 255, 255, 0.5);
  background-color: rgba(225, 217, 209, 0.5);
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
    width: 80%;
  }
}
@media screen and (max-width: 767px) {
  .container {
    flex-direction: column;
    gap: 0px;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    border-radius: 0 0 0 0;
    position: relative;
    overflow: hidden;
  }
}

/*-------------------------------------------------------------------*/
/*--buttons----------------------------------------------------------*/
/*-------------------------------------------------------------------*/
nav .nav-block {
  padding-bottom: 20px;
}
nav .nav-block .actions > div,
nav .nav-block .lists > div {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: #3B3B48;
  padding: 10px 20px;
  margin: 0px auto 0 20px;
  border-radius: 10px;
  width: calc(100% - 40px);
  max-width: 226.83px;
  text-transform: capitalize;
  font-size: 14px;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
nav .nav-block .actions {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
nav .nav-block .actions > div.search {
  background-color: #D1D1DF;
}
nav .nav-block .actions > div.search i {
  color: #515091;
}
nav .nav-block .actions > div.search input {
  padding: 5px;
  width: 90%;
  background: none;
  border: none;
  outline: none;
}
nav .nav-block .actions > div.search input::-webkit-input-placeholder {
  color: #333;
  font-weight: bold;
  text-transform: capitalize;
}
nav .nav-block .actions > div.search input:-webkit-autofill, nav .nav-block .actions > div.search input:-webkit-autofill:hover, nav .nav-block .actions > div.search input:-webkit-autofill:focus, nav .nav-block .actions > div.search input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px #D1D1DF inset !important;
}
nav .nav-block .actions > div.clear {
  display: flex;
  align-items: flex-start;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 10px;
  text-transform: uppercase;
  background-color: #333;
}
nav .nav-block .actions > div.clear > div {
  height: 81.27px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  background-color: #D1D1DF;
  background-color: antiquewhite;
  background-color: #E1D9D1;
  font-family: "GolosTextWebBlack";
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
  transform: translateY(0px) scale(1);
  transition: background-color 10ms ease-in-out, top 0.3s ease-in-out, width 0.3s ease-in-out, transform 0.3s ease-in-out;
}
nav .nav-block .actions > div.clear > div i {
  align-self: center;
  font-size: 26px;
  color: #7F1D1D;
  font-weight: bold;
  transition: color 10ms ease-in-out, font-size 0.1s ease-in-out;
  pointer-events: none;
}
nav .nav-block .actions > div.clear > div h3 {
  font-size: 11px;
  color: #7F1D1D;
  font-weight: bold;
  transition: color 10ms ease-in-out, font-size 0.1s ease-in-out;
  pointer-events: none;
}
nav .nav-block .actions > div.clear > div:not(.active):hover {
  background-color: #7F1D1D;
  background-color: #E1D9D1;
  background-color: hsl(30deg, 21%, 80%);
}
nav .nav-block .actions > div.clear > div:not(.active):hover h3 {
  color: #D1D1DF;
  color: antiquewhite;
  color: #7F1D1D;
  font-size: 8px;
}
nav .nav-block .actions > div.clear > div:not(.active):hover i {
  color: #D1D1DF;
  color: antiquewhite;
  color: #7F1D1D;
  font-size: 35px;
}
nav .nav-block .actions > div.clear > div.active {
  position: absolute;
  width: calc(100% - 60px);
  left: 20px;
  height: 167px;
  transform: translateY(-100px) scale(0.99999999);
  z-index: 1000;
}
@media (max-width: 1120px) and (min-height: 733px) {
  nav .nav-block .actions > div.clear > div.active {
    width: calc(100% - 40px);
  }
}
nav .nav-block .actions > div.clear .question {
  transform: scale(0);
  padding: 5px;
  transition: transform 0.3s ease-in-out;
}
nav .nav-block .actions > div.clear .question h4 {
  color: #333;
  text-transform: none;
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 12px;
}
nav .nav-block .actions > div.clear .question .buttons button {
  background-color: #621010;
  color: antiquewhite;
  border: none;
  padding: 3px 10px;
  border-radius: 8px;
  font-size: 12px;
  cursor: pointer;
}
nav .nav-block .actions > div.clear .question .buttons button:hover {
  background-color: #8b0000;
}
nav .nav-block .actions > div.clear > div.active .question {
  transform: scale(1);
}
nav .nav-block .lists {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
nav .nav-block .lists header {
  margin-bottom: 10px;
  border: 3px solid transparent;
  color: #D1D1DF;
  background-image: linear-gradient(#313138, #313138), linear-gradient(90deg, #8b0000 0%, #FFA726 70%);
  background-image: linear-gradient(#222, #222), linear-gradient(90deg, #8b0000 0%, #FFA726 70%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  padding: 0;
  height: 67px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  transform-style: preserve-3d;
  width: calc(100% - 40px);
  max-width: 226.83px;
  position: relative;
}
nav .nav-block .lists header i {
  padding-left: 20px;
  font-size: 26px;
  background: linear-gradient(270deg, #D64942 0%, #FFA726 70%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
nav .nav-block .lists header h1 {
  letter-spacing: 0px;
}
nav .nav-block .lists > div {
  background-color: #282836;
  background-color: #222;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
}
nav .nav-block .lists > div i {
  font-size: 20px;
  width: 20px;
}
nav .nav-block .lists > div h3 {
  font-weight: bold;
}
nav .nav-block .lists > div.all i {
  color: #69C07B;
}
nav .nav-block .lists > div.all.active, nav .nav-block .lists > div.all.active:hover {
  background-color: #69C07B;
  color: #333;
}
nav .nav-block .lists > div.all.active i, nav .nav-block .lists > div.all.active:hover i {
  color: #333;
}
nav .nav-block .lists > div.all:hover {
  background-color: rgba(105, 192, 123, 0.7);
  color: #333;
}
nav .nav-block .lists > div.all:hover i {
  color: #333;
}
nav .nav-block .lists > div.completed i {
  color: #1E89E3;
}
nav .nav-block .lists > div.completed.active, nav .nav-block .lists > div.completed.active:hover {
  background-color: #1E89E3;
  color: #D1D1DF;
}
nav .nav-block .lists > div.completed.active i, nav .nav-block .lists > div.completed.active:hover i {
  color: #D1D1DF;
}
nav .nav-block .lists > div.completed:hover {
  background-color: rgba(30, 137, 227, 0.7);
  color: #D1D1DF;
}
nav .nav-block .lists > div.completed:hover i {
  color: #D1D1DF;
}
nav .nav-block .lists > div.favourites i {
  color: #FFA726;
}
nav .nav-block .lists > div.favourites.active, nav .nav-block .lists > div.favourites.active:hover {
  background-color: #FFA726;
  color: #333;
}
nav .nav-block .lists > div.favourites.active i, nav .nav-block .lists > div.favourites.active:hover i {
  color: #333;
}
nav .nav-block .lists > div.favourites:hover {
  background-color: rgba(255, 167, 38, 0.7);
  color: #333;
}
nav .nav-block .lists > div.favourites:hover i {
  color: #333;
}
nav .nav-block .lists > div.trash i {
  color: #D1D1DF;
  color: rgb(22, 22, 22);
  color: #D64942;
}
nav .nav-block .lists > div.trash.active, nav .nav-block .lists > div.trash.active:hover {
  background-color: rgb(29, 29, 29);
  background-color: #D64942;
  color: #af2626;
  color: #D1D1DF;
  color: #222;
}
nav .nav-block .lists > div.trash.active i, nav .nav-block .lists > div.trash.active:hover i {
  color: #af2626;
  color: #222;
}
nav .nav-block .lists > div.trash:hover {
  background-color: rgb(45, 45, 45);
  background-color: rgba(214, 73, 66, 0.5);
  color: #222;
}
nav .nav-block .lists > div.trash:hover i {
  color: #222;
}

main button.new-task {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: absolute;
  z-index: 1000;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  border: none;
  outline: none;
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.24);
  transition: transform 50ms ease-in-out, bottom 0.3s ease-in-out, left 0.3s ease-in-out, background-color 0.3s ease-in-out, width 0.05s ease-in-out, height 0.05s ease-in-out;
  cursor: pointer;
  background-color: #dadada;
  background-color: #E1D9D1;
}
main button.new-task i {
  font-size: 30px;
  font-weight: bold;
  color: #313138;
  pointer-events: none;
  transition: color 0.3s ease-in-out;
}
main button.new-task:hover {
  background-color: #ededed;
  background-color: #e7d2bd;
  transform: translate(-50%);
}
@media screen and (max-width: 767px) {
  main button.new-task {
    bottom: 30px;
    left: 60px;
  }
}

/*-------------------------------------------------------------------*/
/*--app main header--------------------------------------------------*/
/*-------------------------------------------------------------------*/
header {
  color: #D1D1DF;
  width: 100%;
  margin: 20px auto;
  background-color: #313138;
  border-radius: 10px;
  padding: 15px 20px;
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  top: 0;
  cursor: default;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.3);
}
header h1 {
  margin: 0;
  text-transform: uppercase;
  font-weight: normal;
  font-family: "GolosTextWebBlack";
}

/*-------------------------------------------------------------------*/
/*--main-------------------------------------------------------------*/
/*-------------------------------------------------------------------*/
main {
  position: relative;
  height: 100%;
  border-radius: 10px;
  padding: 20px 0px 15px 20px;
  background-color: #333;
  box-shadow: 1px 1px 5px 1px rgba(42, 42, 56, 0.8);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.6);
  flex-basis: 65%;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  main {
    flex-basis: 100%;
    border-radius: 0 0 0 0;
    box-shadow: 0 0 0 0;
    padding: 0px;
  }
}
main header {
  position: relative;
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 30px);
  padding: 0;
  margin: 0 0 20px;
  height: 67px;
  border: 3px solid transparent;
  border-radius: 10px;
  background-image: linear-gradient(#313138, #313138), linear-gradient(90deg, #8b0000 0%, #FFA726 70%);
  background-image: linear-gradient(#222, #222), linear-gradient(90deg, #8b0000 0%, #FFA726 70%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  transform-style: preserve-3d;
}
@media screen and (max-width: 767px) {
  main header {
    border-radius: 0 0 0 0;
    min-height: 80px;
    max-height: 200px;
    border-right: none;
    border-left: none;
    border-top: none;
    width: 100%;
  }
}
main header > i {
  font-size: 25px;
  visibility: hidden;
}
@media screen and (max-width: 767px) {
  main header > i {
    display: flex !important;
    visibility: visible;
    width: 38px;
    height: 38px;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
    color: #D1D1DF;
    transform: scale(1);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.1s ease-in-out;
  }
  main header > i:hover {
    background-color: rgba(209, 209, 209, 0.123);
  }
}
main header .title {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media screen and (max-width: 767px) {
  main header .title {
    margin-left: 10px;
  }
}
main header .title i {
  font-size: 30px;
  padding-left: 20px;
  background: linear-gradient(270deg, #D64942 0%, #FFA726 70%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
main .tasks-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: calc(100% - 80px);
  width: 100%;
  overflow-y: auto;
  padding-right: 10px;
  padding-bottom: 200px;
  border-radius: 10px;
}
@media screen and (max-width: 767px) {
  main .tasks-block {
    padding: 20px 20px 210px;
  }
}
main .tasks-block::-webkit-scrollbar {
  width: 20px;
}
main .tasks-block::-webkit-scrollbar-thumb {
  background-color: rgba(209, 209, 209, 0.194);
  border: 6px solid transparent;
  border-radius: 10px;
  background-clip: padding-box;
}
main .tasks-block .task {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  max-width: 500px;
  background-color: #3B3B48;
  background-color: #141414;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  position: relative;
  cursor: default;
  opacity: 1;
  transition: background-color 0.2s ease-in-out;
}
main .tasks-block .task:hover {
  background-color: #464652;
  background-color: rgb(74, 74, 74);
  background-color: #202020;
}
main .tasks-block .task.active {
  background-color: #51515e;
  background-color: rgb(85, 85, 85);
  background-color: #222;
  background-color: #141414;
  background-color: #444;
  background-color: #000;
}
main .tasks-block .task .content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
main .tasks-block .task .content > i {
  position: absolute;
  top: 0;
  cursor: pointer;
  font-size: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
main .tasks-block .task .content > i.fa-ellipsis-vertical {
  min-width: 30px;
  height: 30px;
  right: -5px;
}
main .tasks-block .task .content > i.fa-ellipsis-vertical:hover {
  background-color: rgba(209, 209, 209, 0.123);
}
main .tasks-block .task .content > i.fa-circle {
  min-width: 30px;
  height: 30px;
  left: -5px;
  z-index: 1;
}
main .tasks-block .task .content > i.fa-circle.checked {
  color: #1E89E3;
}
main .tasks-block .task .content > i.fa-circle.checked::before {
  content: "\f058";
}
main .tasks-block .task .content > i.fa-circle.checked + P {
  text-decoration: line-through;
  opacity: 0.5;
  z-index: 0;
  color: #1E89E3;
}
main .tasks-block .task .content > i.fa-circle:hover {
  color: #1E89E3;
}
main .tasks-block .task .content > p {
  margin-right: auto;
  margin-top: 3px;
  padding-left: 30px;
  padding-right: 30px;
  color: #D1D1DF;
}
main .tasks-block .task .content .options {
  position: absolute;
  right: 25px;
  top: 5px;
  z-index: 100;
  flex-direction: column;
  background-color: #313138;
  background-color: rgb(33, 33, 33);
  border-radius: 8px;
  color: #333;
  overflow: hidden;
  box-shadow: 1px 1px 20px 1px rgba(39, 39, 39, 0.791);
  pointer-events: none;
  opacity: 0;
  transform: scale(0.1);
  transform-origin: top right;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
main .tasks-block .task .content .options.active {
  opacity: 1;
  pointer-events: all;
  transform: scale(1);
}
main .tasks-block .task .content .options > div {
  display: flex;
  padding: 13px 20px;
  cursor: pointer;
}
main .tasks-block .task .content .options > div:hover {
  background-color: rgb(60, 60, 60);
  background-color: rgb(40, 40, 40);
}
main .tasks-block .task .content .options > div i {
  color: #6b6b6b;
  width: 15px;
  font-size: 15px;
}
main .tasks-block .task .content .options > div p {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 15px;
  padding-right: 15px;
  color: #D1D1DF;
}
main .tasks-block .task .content .options .edit i {
  color: #1E89E3;
}
main .tasks-block .task .content .options .favourite {
  border-top: 1px solid rgb(60, 60, 60);
  border-bottom: 1px solid rgb(60, 60, 60);
}
main .tasks-block .task .content .options .favourite i {
  color: #FFA726;
}
main .tasks-block .task .content .options .delete i {
  font-family: "FontAwesome";
  font-weight: 400;
  color: #D64942;
}
main .tasks-block .task .date {
  padding-left: 31px;
  font-size: 10px;
  text-transform: capitalize;
  color: rgba(209, 209, 223, 0.4);
}
main .tasks-block .task .date i {
  color: #FFA726;
  font-size: 7px;
}
main .new-task-container {
  position: absolute;
  bottom: 55px;
  left: 50%;
  transform: translateX(-50%) scale(0);
  transform-origin: bottom;
  z-index: 999;
  width: 100%;
  height: 100%;
  opacity: 0;
  box-shadow: 0px 0px 0 400px transparent;
  background-color: transparent;
  transition: transform 0.4s ease-in-out, bottom 0.3s ease-in-out, left 0.3s ease-in-out, opacity 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
main .new-task-container.active {
  transform: translateX(-50%) scale(1);
  background-color: rgba(42, 42, 56, 0.9);
  background-color: rgba(51, 51, 51, 0.9);
  background-color: rgba(17, 17, 17, 0.9);
  box-shadow: 0px 0px 0 500px rgba(17, 17, 17, 0.9);
  opacity: 1;
  bottom: 56px;
}
@media screen and (max-width: 767px) {
  main .new-task-container {
    bottom: 30px;
    left: 60px;
    opacity: 0;
    transition: transform 0.3s ease-in-out, bottom 0.3s ease-in-out, left 0.3s ease-in-out, opacity 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  main .new-task-container.active {
    transform: translateX(-50%) scale(1);
    background-color: rgba(17, 17, 17, 0.9);
    box-shadow: 0px 0px 0 400px rgba(17, 17, 17, 0.9);
    left: 50%;
    opacity: 1;
  }
}
main .new-task-container .new-task-window {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
  min-height: 180px;
  max-height: 200px;
  width: 60%;
  min-width: 250px;
  max-width: 280px;
  background-color: #333;
  background-color: hsl(0deg, 0%, 17%);
  background-color: #222;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out, bottom 0.3s ease-in-out, left 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
main .new-task-container .new-task-window input,
main .new-task-container .new-task-window .icons {
  width: 70%;
  border-radius: 10px;
}
main .new-task-container .new-task-window input {
  height: 50px;
  outline: none;
  background: none;
  caret-color: #595976;
  border: 3px solid #515091;
  padding: 10px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
  color: #D1D1DF;
}
main .new-task-container .new-task-window input:focus {
  background: none;
}
main .new-task-container .new-task-window .icons {
  display: flex;
  justify-content: space-between;
}
main .new-task-container .new-task-window .icons i {
  width: 45%;
  position: relative;
  font-size: 15px;
  border-radius: 8px;
  display: block;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
  transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out, border 0.1s ease-in-out;
  color: rgba(209, 209, 223, 0.7);
}
@media screen and (max-width: 767px) {
  main .new-task-container .new-task-window .icons i {
    font-size: 12px;
  }
}
main .new-task-container .new-task-window .icons i.fa-circle {
  background: none;
  border: 2px solid #FFA726;
  color: #FFA726;
}
main .new-task-container .new-task-window .icons i.fa-circle:hover, main .new-task-container .new-task-window .icons i.fa-circle.active {
  background-color: #ffa726;
  color: #333;
}
main .new-task-container .new-task-window .icons i.fa-plus {
  background: none;
  border: 2px solid #1E89E3;
  color: #1E89E3;
}
main .new-task-container .new-task-window .icons i.fa-plus:hover, main .new-task-container .new-task-window .icons i.fa-plus.active {
  background-color: #1e89e3;
  color: #333;
}

/*-------------------------------------------------------------------*/
/*--nav--------------------------------------------------------------*/
/*-------------------------------------------------------------------*/
nav {
  position: relative;
  z-index: 500;
  color: rgba(209, 209, 223, 0.7);
  height: 100%;
  min-width: 245px;
  border-radius: 10px;
  background-color: #333;
  box-shadow: 1px 1px 5px 1px rgba(42, 42, 56, 0.8);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.6);
  flex-basis: 35%;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  nav {
    order: 1;
    position: absolute;
    right: 0;
    top: 115px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    width: 40%;
    height: calc(100% - 150px);
    background-color: #313138;
    background-color: #333;
  }
  nav.active {
    transform: translateX(-20px);
  }
}
nav header {
  width: calc(100% - 60px);
  max-width: 226.83px;
  margin: 20px auto 20px 20px;
  background-color: #FFA726;
  background: linear-gradient(135deg, #8b0000 0%, #FFA726 70%);
  color: #333;
}
@media (max-width: 1110px) and (min-height: 733px) {
  nav header {
    width: calc(100% - 40px);
  }
}
nav header h1 {
  font-family: "GolosTextWebBlack";
  text-align: center;
  letter-spacing: -2px;
  word-spacing: -1px;
}
nav .nav-block {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - 115px);
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
nav .nav-block::-webkit-scrollbar {
  width: 20px;
}
nav .nav-block::-webkit-scrollbar-thumb {
  background-color: rgba(209, 209, 209, 0.194);
  border: 6px solid transparent;
  border-radius: 10px;
  background-clip: padding-box;
}/*# sourceMappingURL=main.css.map */