@use '../abstracts';

/*-------------------------------------------------------------------*/
/*--buttons----------------------------------------------------------*/
/*-------------------------------------------------------------------*/

nav .nav-block {
    
    > div {
        display: flex;
        align-items: center;
        gap: 15px;
        background-color: abstracts.$clrGradDark;
        padding: 10px 20px;
        border-radius: abstracts.$radiusLg;
        width: 100%;
        text-transform: capitalize;
        font-size: 14px;
        transition: background-color .1s ease-in-out,
                    color .1s ease-in-out,
                    padding .1s ease-in-out,
                    transform .1s ease-in-out,
                    text-decoration .1s ease-in-out;
        cursor: pointer;
        transform: scale(1);

        &:not(.search):hover {
            transform: scale(.98);
            @include abstracts.media-down(mb) {
                transform: scale(1);
            }
        }

        &.search {
            background-color: abstracts.$clrText;
            
            i {
                color: abstracts.$clrPurple;
                transition: color .2s ease-in-out;
            }

            input {
                padding: 5px;
                width: 90%;
                background: none;
                border: none;
                outline: none;

                &::-webkit-input-placeholder {
                    color: abstracts.$clrBlack;
                    font-weight: bold;
                    text-transform: capitalize;
                }

                &:-webkit-autofill,
                &:-webkit-autofill:hover, 
                &:-webkit-autofill:focus, 
                &:-webkit-autofill:active{
                    -webkit-box-shadow: 0 0 0 30px abstracts.$clrText inset !important;
                    box-shadow: 0 0 0 30px abstracts.$clrText inset !important;
                }
            }
        }

        &.clear {
            // background-color: abstracts.$clrRedBlood;
            margin-bottom: 20px;
            border: 3px solid abstracts.$clrRedBlood;

            i {
                color: abstracts.$clrText;
                transition: color .2s ease-in-out;
            }

            h3 {
                text-transform: uppercase;
            }

            &:hover,
            &.active {
                transform: scale(1);
                background-color: abstracts.$clrRedBlood;

                i {
                    color: abstracts.$clrText;
                }
            }
        }

        &.all {
            i {
                color: abstracts.$clrGreen;
                transition: color .2s ease-in-out;
            }

            &:hover,
            &.active {
                background-color: abstracts.$clrGreen;
                color: abstracts.$clrBlack;

                i {
                    color: abstracts.$clrBlack;
                }
            }
        }

        &.completed {
            i {
                color: abstracts.$clrBlue;
                transition: color .2s ease-in-out;
            }

            &:hover,
            &.active {
                background-color: abstracts.$clrBlue;

                i {
                    color: abstracts.$clrText;
                }
            }
        }

        &.important {
            i {
                color: abstracts.$clrYellow;
                transition: color .2s ease-in-out;
            }

            &:hover,
            &.active {
                background-color: abstracts.$clrYellow;
                color: abstracts.$clrBlack;

                i {
                    color: abstracts.$clrBlack;
                }
            }
        }

        &.deleted {
            i {
                color: abstracts.$clrRed2;
                transition: color .2s ease-in-out;
            }

            h3 {
                text-decoration: line-through;
            }

            &:hover,
            &.active {
                background-color: abstracts.$clrRed2;

                i {
                    color: abstracts.$clrText;
                }

                h3 {
                    text-decoration: none;
                }
            }
        }
    }
}

main {

    button.new-task {
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        position: absolute;
        z-index: 1000;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 50%;
        border: none;
        outline: none;
        box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.24);
        transition: transform .2s ease-in-out,
                    bottom .3s ease-in-out,
                    left .3s ease-in-out,
                    background-color .3s ease-in-out;
        cursor: pointer;
        background-color: abstracts.$clrLight;

        i {
            font-size: 30px;
            font-weight: bold;
            color: abstracts.$clrMainLight;
            pointer-events: none;
        }

        &:hover {
            background-color: abstracts.$clrLightBg;
            transform: translateX(-50%) scale(1.07);
        }
    }

    @include abstracts.media-down(mb) {
        & button.new-task {
            bottom: 30px;
            left: 60px;
        }
    }
}