@use "../abstracts";

/*-------------------------------------------------------------------*/
/*--app main header--------------------------------------------------*/
/*-------------------------------------------------------------------*/

header {
	color: abstracts.$clr-main-dark;
	width: 100%;
	margin: 20px auto;
	border-radius: abstracts.$radiusLg;
	padding: 15px 20px;
	position: sticky;
	left: 0;
	top: 0;
	cursor: default;

	h1 {
		margin: 0;
		text-transform: uppercase;
		font-weight: normal;
		font-family: "GolosTextWebBlack";
		position: relative;

		div {
			position: absolute;
			right: -14px;
			top: -5px;
			font-size: 12px;
			background-color: abstracts.$clr-list-trash;
			padding: 2px;
			border-radius: 15px;
			width: 28px;
			height: 20px;
			// aspect-ratio: 1/1;
			outline: 3px solid abstracts.$clr-main-darkest;
			font-family: "GolosTextWebRegular";
			display: flex;
			align-items: center;
			justify-content: center;

			&.hidden {
				display: none;
			}

			color: #fff;
		}
	}
}
