@use '../abstracts';

/*-------------------------------------------------------------------*/
/*--app main header--------------------------------------------------*/
/*-------------------------------------------------------------------*/
   
header {
    color: abstracts.$clrText;
    width: 100%;
    margin: 20px auto;
    background-color: abstracts.$clrMainLight;
    border-radius: abstracts.$radiusLg;
    padding: 15px 20px;
    position: sticky;
    left: 0;
    top: 0;
    cursor: default;
    box-shadow: 1px 1px 5px 1px abstracts.$clrHeaderShadow;

    h1 {
        margin: 0;
        text-transform: uppercase;
        font-weight: normal;
        font-family: 'GolosTextWebBlack';
    }
}