@use "../abstracts";

/*-------------------------------------------------------------------*/
/*--global rules-----------------------------------------------------*/
/*-------------------------------------------------------------------*/

*,
*::before,
*::after {
  @include abstracts.prefixer(box-sizing, border-box, webkit moz o);
  margin: 0;
  padding: 0;
  // border: 1px solid red;
}


::selection {
  background: none;
}

input::selection {
  background-color: abstracts.$clrYellow;
  color: abstracts.$clrBlack2;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
  color: abstracts.$clrText;
  font: {
    family: "GolosTextWebRegular";
  }
  margin: 0;
  padding: 0;
  position: relative;
  height: 100vh;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    z-index: -1;
    // filter: blur(50px);
  }

  &::after {
    height: 100%;
    width: 200%;
    top: -50%;
    top: -27%;
    left: -50%;
    background-color: abstracts.$clrBlack;    
    background: linear-gradient(135deg, abstracts.$clrGradLight 0%, abstracts.$clrGradDark 59%);
    background: linear-gradient(85deg, abstracts.$clrGradLight 0%, abstracts.$clrGradDark 59%);
    background: linear-gradient(85deg, #444 0%, #222 59%);
    background: linear-gradient(85deg, #333 0%, #121212 59%);
    border-radius: 50%;
    // filter: blur(3px);
  }

  &::before {
    height: 100%;
    bottom: 0;
    background-color: #E0E0E0;
    background-color: #E1D9D1;
    background-color: #e2d2c2;
  }
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  gap: 20px;
  background-color: abstracts.$clrContainer;
  padding: 30px;
  margin: auto;
  transition: width 0.3s ease-in-out;
  border-radius: abstracts.$radiusLg;
  height: min(90vh, 700px);
  @include abstracts.media-up(sm) {
    max-width: 900px;
    width: 80%;
  }
  box-shadow: 1px 1px 5px 1px abstracts.$clrContainerShadow;
  // background: linear-gradient(135deg, abstracts.$clrGradLight 0%, abstracts.$clrGradDark 59%);
  // background: linear-gradient(135deg, rgb(153 153 194 / 87%) 0%, rgba(43, 43, 61, 0.87) 59%);
  background-color: rgb(153 153 194 / 30%);
  background-color: rgb(255 255 255 / 50%);
  background-color: rgb(225 217 209 / 50%);
  background-color: rgb(225 217 209 / 33%);

  @include abstracts.media-down(mb) {
    flex-direction: column;
    gap: 0px;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    border-radius: 0 0 0 0;
    position: relative;
    overflow: hidden;
  }
}
